html {
  padding: 0;
  margin: 0;
  background-color: rgb(43, 54, 24);
  color: white;
}
body {
  padding: 0;
  margin: 0;
}
hr {
  margin: -0.5rem auto 3rem auto;
  width: 320px;
}
h1 {
  text-align: center;
  margin: 3rem 1rem 1rem 1rem;
}
.container {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}
input {
  font-size: 1.4rem;
  width: 280px;
  border-radius: 20px;
  padding: 0.4rem 0.4rem;
}

button {
  padding: 8px 25px;
  margin: 4rem 1rem;
  font-size: 1.2rem;
  border-radius: 20px;
  border-color: rgb(163, 163, 163);
  box-shadow: 2px 2px 15px rgb(0, 0, 0);
}
.output {
  text-align: center;
}
